.sobre_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-bottom: -30%;
}
h1{
    padding: 1em;
}